combobulate
.cache
.lsp-*
auto-save-list/
backups/
config.el
custom.el
eln-cache/
elpa/
eshell/
*.sqlite
history
projects
quelpa/
recentf
tramp
transient
tree-sitter*
undo-fu-session
url/
.yas*
old*
test*
*.txt